* {
  background-color: rgb(221, 231, 215);
  box-sizing: content-box;
}
#todo-list {
  padding-top: 100px;
  padding-left: 20px;
  width: 50%;
  text-align: center;
}
h1 {
  display: block;
  font-size: 3em;
  margin-top: 1em;
  margin-bottom: 0.2em;
  font-weight: bold;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

input#new-task {
  width: 75%;
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  background: rgb(215, 234, 241);
}
button#add-task {
  background: rgb(222, 247, 173);
  width: 25%;
  padding: 10px;
  margin-left: 10px;
  color: black;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}
ul#task-list {
  padding: 0;
  margin: 0;
  text-align: left;
}
ul#task-list li {
  list-style: auto;
  background-color: rgb(227, 233, 232);
  padding: 10px;
  border-radius: 100px;
  margin-bottom: 10px;
  margin-left: 20px;
}

ul li:hover {
  cursor: pointer;
}

.check-mark {
  color: rgb(51, 189, 51);
  float: left;
}
i {
  padding-top: 6px;
  margin-right: 20px;
  font-size: 0.8em;
  color: #999;
  float: right;
}
button {
  padding: 0;
  border: none;
  background: none;
  font-size: 1.2em;
  color: rgb(136, 134, 134);
  float: right;
}
.done-task {
  text-decoration: line-through;
}
